.nav-logo{
    width: 180px;
}

.manager-logo{
    width: 330px;
}

.manager-logos{
    align-items: center;

    >.col-lg-3{
        text-align: center;
    }
}
.opw, .lp, .dshln{
    text-align: center;
}
.tick, .cross{
    width: 35px;
}

.pro, .con{
    display: block;
    margin: 20px 0px;
}

.dark-row{
    background-color: #f0f0f0;
}


.feature{
    font-weight: bold;
}

.feature-row{
    margin: 25px 0px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40;
}

.main-body{
    margin-bottom: 80px;
}