<div class="row justify-content-lg-center">
    <div class="col-lg-9 col-sm">
        <h1 class="display-1">Welcome to Secure Yourself</h1>
        <p class="lead">We here at Secure Yourself believe that it is extremely important to protect your data that is stored
            online. So in order to help the citizens of the internet, we created this website to spread
            information about good security practices and to educate people about why their data is targeted
            by hackers.
        </p>
    </div>
</div>
{{outlet}}