<div class="row justify-content-lg-center">
    <div class="col-lg-9 col-sm">
        <h1 class="display-1">Password Managers</h1>
        <p class="lead">Password managers are tools that allow you to store your passwords in a secure “vault”. This vault is protected by a single strong password, meaning you only need to remember this one password. All of you other passwords can be retrieved from your password manager. This means you can have unique strong passwords across all your accounts online.</p>

        <p>Below is a comparison of three popular password managers showing what features they each include.
        </p>
    </div>
</div>
<div class="row manager-logos">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"><img class='align-middle' src="/assets/images/1password-logo.png" class="manager-logo img-responsive"></div>
    <div class="col-lg-3"><img class='align-middle' src="/assets/images/lastpass-logo.png" class="manager-logo img-responsive"></div>
    <div class="col-lg-3"><img class='align-middle' src="/assets/images/dashlane-logo.png" class="manager-logo img-responsive"></div>
</div>

<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Browser Extensions</div>
    <div class="col-lg-3 opw"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
</div>
<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Autofill</div>
    <div class="col-lg-3 opw"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
</div>
<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Online storage</div>
    <div class="col-lg-3 opw"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
</div>
<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Mobile App</div>
    <div class="col-lg-3 opw"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
</div>
<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Accessible on multiple computers</div>
    <div class="col-lg-3 opw"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
</div>
<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Scan for compromised passwords</div>
    <div class="col-lg-3 opw"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/cross.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
</div>
<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Built in VPN</div>
    <div class="col-lg-3 opw"><img src="/assets/images/cross.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/cross.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
</div>
<div class="row feature-row">
    <div class="offset-lg-1 col-lg-2 feature">Travel Mode <br/><small>This removes your passwords from your devices keeping them stored only in the cloud so that securtity agents while travelling can't access your passwords.</small></div>
    <div class="col-lg-3 opw"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 lp"><img src="/assets/images/cross.png" class="tick" alt="tick icon"/></div>
    <div class="col-lg-3 dshln"><img src="/assets/images/cross.png" class="tick" alt="tick icon"/></div>
</div>

<div class="clearfix"></div>
{{!-- <div class="row justify-content-lg-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"><h2>Pros</h2></div>
    <div class="col-lg-3"><h2>Cons</h2></div>
</div>

<div class="row justify-content-lg-center dark-row">
    <div class="col-lg-3"><img class='align-middle' src="/assets/images/1password-logo.png" class="manager-logo"></div>
    <div class="col-lg-3">
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Browser Extensions</span>
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Online storage of vaults</span>
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Mobile App</span>
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Accessible on multiple computers</span>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="row justify-content-lg-center">
    <div class="col-lg-3"><img src="/assets/images/lastpass-logo.png" class="manager-logo"></div>
    <div class="col-lg-3">
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Browser Extensions</span>
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Online storage of vaults</span>
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Mobile App</span>
        <span class="pro"><img src="/assets/images/tick.png" class="tick" alt="tick icon"/> Accessible on multiple computers</span></div>
    <div class="col-lg-3"></div>
</div>

<div class="row justify-content-lg-center dark-row">
    <div class="col-lg-3"><img src="/assets/images/dashlane-logo.png" class="manager-logo"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
</div> --}}

{{outlet}}